@import url("https://fonts.googleapis.com/css2?family=inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #1D1E22;
  margin: 0;
  font-family: "inter" , sans-serif;
}

.text-color-one{
  color : #FF8E5E;
}

.text-color-two{
  color : #FFFFFF;
}

.marquee-content {
  display: inline-flex;
  overflow-y: hidden;
  column-gap: 20px;
  transform: skewX(0.991deg);
}
